<section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>EXPRESS YOURSELF BOLDLY WITH DUBLIN’S BEST DOOR FITTINGS SPECIALIST</h2>
              <p>Locks and Hardware’s passion is to facilitate bringing your personal style to your home. Our door products are more than about just opening, closing and securing your environment. We believe than our products should express your personality and bring your home to life. Our motto is “Express yourself boldly with Locks and Hardware”.</p>
              <p>Locks and Hardware items have been rigorously tested and designed with meticulous detail. Every time a customer orders an item is custom-crafted on site in our Walkinstown facility. As our valued customer you can specify your own customisations and finishes. We pride ourselves in a turnaround of three days from receipt of order to delivery straight to your home.</p>
              <p>Establish in 1967, Locks and Hardware has been at the vanguard of cutting edge door furniture for nearly half a century. Ever searching for the finest door fittings trend, we work tirelessly tobalance functionality with style. You will find the just the item you need,be it modern, classic or heritage-orientated.</p>
              <p>We are delighted that you have taken the time to visit our site and hopethat you will stay with us on this door apparel voyage for many years to come and when it comes to door fittings, the first thing that will come to mind is: “My friends in Walkinstown, Locks and Hardware will have it!”</p>
            </div>
        </div>
</section>
