<section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>PLEASE DO NOT HESITATE TO CONTACT US TODAY!</h2>
                <p>Our dedicated team of customer care executives are standing by right now for your call. Your can reach one of our operatives at (01) 419 8778 anytime between 9 and 6, Monday to Friday.</p>
                <p>Alternatively please feel free to visit our showroom in person at our facility in Merrywell Business Park in South-West Dublin. An easy way to find usis to navigate to the LUAS Red Cow stop on the Red Line and continue down by the hotel and bridge towards the Harley Davidson store. We are located down the next road on the left.</p>
                <p>We also welcome emails including any requests or comments, good or bad, that you may have. Please reach out to us at locksandhardware@locksandhardware.com.</p>
                <p>Address: Unit B, Merrywell Business Park, Ballymount Rd Lower, Dublin</p>
                <p>Phone: (01) 419 8778</p>
                <p>Email: locksandhardware@locksandhardware.com</p>
            </div>
        </div>
</section>