<p id="notice"><%= notice %></p>

<table class="catalog">
  <tr>
    <td>
        <div>
        <div class="image">
            <%= link_to (image_tag @item.image_url, :style => "height:100px"), @item %>
        </div>
    </td>
    <td>
        <p>
          <strong>Title:</strong>
            <%= @item.title %>
        </p>
        
        <p>
          <strong>Description:</strong>
          <%= @item.description %>
        </p>
        
        <p>
          <strong>Price:</strong>
          <%= @item.price %>
        </p>
        
        <p>
          <strong>Category:</strong>
          <%= @item.category %>
        </p>
        
        <p>
          <strong>Brand:</strong>
          <%= @item.brand %>
        </p>
    </td>
  </tr>
  

</table>
<% if user_signed_in? %>
        <% if current_user.try(:admin?) %>
          <%= link_to 'Edit', edit_item_path(@item) %> |
          <%= link_to 'Back', items_path %>
        <% end %>
<% end %>
<a href="/cart/<%= @item.id %>">Add to Cart</a><br><br>
            